/**************** ADD TO MAIN? ******************/
/** { 
  box-sizing: border-box;
}

a {
  color: #547B97;
  text-decoration: none;
  transition: all .5s;
}
a:hover {
  color: #212B40;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer li {
	text-align: center;
  	width: 170px;
	margin: 5px;
	padding: 10px;
	border: 2px solid #BADCDD;
	border-radius: 0 10px 0 10px;
	background-color: #C2E078;
	display: inline-block;
}
footer p {
	text-align: center;
}
footer {
	background-color: rgba(186,220,221,.5);
	padding: 10px 0 20px 0;
}
ul {
	margin: 5px;
	padding: 0;
	list-style: none;
}
p.copyright {
	font-size: .8rem;
	margin: 5px;
}
*/

/* dark theme*/



.h2Dark	{
	color: rgb(255,255,255);
}

/*.messagesDark { 
	color: white;
	background: rgb(033,043,064);
 }*/

.legendDark { 
	color: white;
	background: rgb(033,043,064);
 }

.messageOutput { 
	color: white;
	background: rgb(084,123,151);
 }

