
h2 {

	font-size: 20px;
	text-align: center;
}


body {
	font-family: Raleway, sans-serif;
	font-size: 15px;
	box-sizing: border-box;
}

.input { 
	width: 50%;
	margin: 10px;

 }

.messages {
	background-color: #BADCDD;
	margin: 10%;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}


.checkboxButton { 
	margin: 10px;

 }







/*hero image styling*/


.hero {
  background: url("http://img11.deviantart.net/a71b/i/2013/252/4/4/friendship_bracelets_by_tarin_moore-d6lo9t4.jpg") no-repeat center center;
  background-size: cover;
  height: 30vh; }
 
  .hero .intro {
    padding: 4rem;
    position: relative;
    top: 90%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: 0.025em;
    font-weight: 300;
    text-align: center; }
  
  
  @media only screen and (min-width: 40.063em) {
    .hero .tech-img {
      height: 18rem;
      width: 18rem; }

    .hero h1 {
      padding-top: 6.5rem;
      text-align: center;
      font-size: 2.5rem; }
   






